# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/
*.swp

# Date și cache
data/raw/
data/cache/
data/processed/
logs/
*.log

# Environement
.env
*.local

# Jupyter
.ipynb_checkpoints/
